<div class="page-container">
  <h3>Projects</h3>
  <div class="grid-container">
    <table mat-table [dataSource]="projectsDataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="['../projects', element.ID, 'view']">{{element.name}}</a> </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="lastActivity">
        <th mat-header-cell *matHeaderCellDef>Last Activity </th>
        <td mat-cell *matCellDef="let element"> {{element.lastActivity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedProjectsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedProjectsColumns;"></tr>
    </table>
  </div>
</div>
